@model WebAppMVC.ViewModels.OrderDetailVM;
<head>
    <title>@Html.DisplayFor(model => model.Title)</title>
</head>
<body>
    <div>
        <h2>Order #@Html.DisplayFor(model => model.Id)</h2>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class = "col-sm-2">
                Total Price
            </dt>   
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TotalPrice) Kr.
            </dd>
            <dt class="col-sm-2">
                Shipping address
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Note)
            </dd>
        </dl>
        <div class="order-items">
            <h5>Order products:</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Product
                        </th>
                        <th>
                            Size
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lineItemDto in @Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(productItem => lineItemDto.ProductName)
                            </td>
                             <td>
                                @Html.DisplayFor(productItem => lineItemDto.SizeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => lineItemDto.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => lineItemDto.Quantity)
                            </td>
                            <td>
                                @(lineItemDto.Price * lineItemDto.Quantity) Kr
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>