@model WebAppMVC.ViewModels.LoginVM

<h1 class="account-title">Login</h1>

<div class="login-div">
    <form method="post" action="@Url.Action("Login", "Authentication")" class="login-form">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="login-input-field">
            <span asp-validation-for="Email" class="text-danger"></span>
            <input type="text" name="email" placeholder="Email" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <input type="password" name="password" placeholder="Password" class="form-control" />
        </div>
        <input type="submit" value="Login" class="button-1" />

    </form>
    @if(Model.ErrorMessage != null)
    {
        <h5>@Model.ErrorMessage</h5>
    }
    @if(Model.Message != null){
        <h5>@Model.Message</h5>
    }

    <div class="login-signup">
        <span class="text">
            Not a member?
            <a class="a-link" href='@Url.Action("Register","User")'>Register Now</a>
        </span>
    </div>
</div>


