@model WebApiClient.DTOs.OrderDto

@{
    ViewData["Title"] = "Cart";
}



<body class="body" id="content">

    <div class="separator">
        <div class="home-title">Home / Cart</div>
    </div>
    @if (@Model.Items == null || @Model.Items.Count() == 0)
    {
        <h2>Unfortunately, your shopping cart is empty!</h2>
        <hr />
        @Html.ActionLink("<- Return to the store", "Index", "Home")
    } else {
        <div class="cc">
        
            <div class='cartcontainer'>
                <h5>Item</h5>
                <h5>Size</h5>
                <h5>Price</h5>
                <h5>Quantity</h5>
                <h5>Subtotal</h5>
                <div></div>
            </div>

            <hr class="hr" />

            @foreach (var lineItem in @Model.Items)
            {
                <div class="cartitems">
                    <div>@Html.DisplayFor(model => lineItem.ProductName)</div>
                    <div>@Html.DisplayFor(model => lineItem.SizeName)</div>
                    <div>@Html.DisplayFor(model => lineItem.Price) Kr.</div>
                    <div>@Html.DisplayFor(model => lineItem.Quantity)</div>
                    <div>@(lineItem.Quantity * lineItem.Price) Kr.</div>
                </div>
            }
            <hr class="hr" />
            <button type="button" class="btn add-to-cart-btn">@Html.ActionLink("Clear Cart", "Clear")</button>
            <div class="totalcontainer">
                <div class="subtotal">
                    <div class="stitle">Subtotal: </div>
                    <div>@Html.DisplayFor(model => model.TotalPrice)</div>
                </div>
                <div class="fee">
                    <div class="feetitle">Shipping fee </div>
                    <div>35 Kr.</div>
                </div>
                <hr />
                <div class="ordertotal">
                    <div class="oc">Total</div>
                    <div>@(Model.TotalPrice + 35) Kr.</div>
                </div>
                <div class="fee">
                    <div class="feetitle">Including VAT </div>
                    <div>@((Model.TotalPrice + 35) * (decimal)0.2) Kr.</div>
                </div>
                <hr />
                <button type="button" class="btn btn-primary">@Html.ActionLink("To payment", "Create", "Order")</button>
            </div>
        </div>
    }
</body>