@model WebAppMVC.ViewModels.ProductDetailsVM

<div>
    <hr />
    <div class="col-sm-6 product-picture">
        <img src="~/images/@(Model.Id).jpg" class="product-image">
    </div>
    <div class="col-sm-6 product-info">
        <div class="product-title">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
        </div>
        <div class="product-category">
            <span>@Html.DisplayFor(model => model.Category)</span>
        </div>
        <div class="product-price">
            <p>@Html.DisplayFor(model => model.Price) DKK</p>
        </div>
        <div class="product-description">
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="product-sizes-container">
            <p>Sizes</p>
            @foreach (var sizestock in Model.ProductSizeStocks)
            {
                <div class="sizes"><span class="sizeName">@sizestock.Size</span></div>
            }           
        </div>
        <br />
        <div class="add-to-cart-container">
            <button type="button" class="btn add-to-cart-btn" onclick="AddToCart()">
                Add to cart
            </button>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to Products</a>
</div>

<script>

</script>



<script>
    var sizeDivElements = document.querySelectorAll("div.sizes");
    var size = "";
    for (const sizeButton of sizeDivElements) {
        sizeButton.addEventListener('click',
            function sizeClicked(event) {
                unselectSizes();
                this.classList.toggle("selected");
                const url = new URL(window.location);
                url.searchParams.set('size', this.querySelector("span.sizeName").innerText);
                size = this.querySelector("span.sizeName").innerText;
                window.history.pushState(null, '', url.toString());
                const productId = thePath.substring(thePath.lastIndexOf('/') + 1)
        });
    }
    
    function AddToCart(){
        @*/Product/Add/5?size=L"*@
        window.open("/Product/Add/" + thePath.substring(thePath.lastIndexOf('/') + 1) + "?size=" + size, "_self");
        @*document.getElementById("add-to-cart-link").setAttribute("onclick", "window.open('/Product/Add/" + thePath.substring(thePath.lastIndexOf('/') + 1) + "?size=" + size +"')");*@
    }

    function unselectSizes() {
        for (const selectedSizes of sizeDivElements) {
            selectedSizes.classList.remove("selected");
        }
    }
</script>
