@model WebAppMVC.ViewModels.ProductIndexVM

@*@{
    ViewData["Title"] = "Products";
}*@

<body class="body" id="content">


    <div class="separator">
        <div class="home-title">Home / Products</div>
    </div>

    <div class="productscontainer">
        <div class="categories">
            <div class="ctitle">Categories</div>
            <ul class="category-list">
            <li>
            @foreach (var productDto in @Model.Products)
            {
            }
            </li>
            </ul>
            <input type="checkbox" id="Category1" name="vehicle1" value="Bike">
            <label for="vehicle1"> Category 1 </label><br>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> Category 2 </label>
            <br><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> Category 3 </label>
            <br><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> Category 4 </label><br>
        </div>
        <div class="products-items">
            <div class="settings">
                <input type="text" placeholder="Search..">
            </div>
            <div class="product-panel">
                <ul class="product-list">
                    @foreach (var productDto in @Model.Products)
                    {
                        <li>
                            <div class="product-inner">
                                <div class="product-img">
                                    <a href="@Url.Action("Details", "Product", new { id = productDto.Id })">
                                        @{
                                            int productId = productDto.Id;
                                        }
                                        <img src="~/images/@(productId).jpg">
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="title">@Html.DisplayFor(modelItem => productDto.Name)</div>
                                    <div class="price">@Html.DisplayFor(modelItem => productDto.Price)  </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                @*<div class="fproduct">
                    <div class="img">img</div>
                    <div class="row">
                        <div class="title">Product 1</div>
                        <div class="price">$599.99</div>
                    </div>
                </div>*@
                
            </div>
        </div>
    </div>

</body>