@model WebAppMVC.ViewModels.ProductIndexVM

<body class="body" id="content">

    <h1 class="product-title">@Html.DisplayFor(model => model.PageTitle)</h1>

    <div class="productscontainer">
        <div class="category-panel">
            <div class="ctitle">Categories</div>
            <div class="category-list-panel">
                <ul class="category-list">
                    @foreach (var category in @Model.Categories)
                    {
                        <li >
                            <a class="category-link" href="@Url.Action("Index", "Product", new{ category = category.Name})">@category.Name</a>
                        </li>
                    }
                </ul>
            </div>
            
        </div>
        <div class="products-items">
            <div class="settings">
                <input type="text" placeholder="Search..">
            </div>
            <div class="product-panel">
                <ul class="product-list">
                    @foreach (var productDto in @Model.Products)
                    {
                        <li>
                            <div class="product-inner">
                                <div class="product-img">
                                    <a href="@Url.Action("Details", "Product", new {productDto.Id})">
                                        <img src="~/images/@(productDto.Id).jpg">
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="title">@Html.DisplayFor(modelItem => productDto.Name)</div>
                                    <div class="price">@Html.DisplayFor(modelItem => productDto.Price) Kr.</div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>